
.highlight {
	-fx-fill: black;
	-rtfx-background-color : yellow;
}

.data-type {
    -fx-fill: blue; 
    -fx-font-weight: bold;
}

.control-flow {
    -fx-fill: purple; 
    -fx-font-weight: bold;
}

.modifier {
    -fx-fill: orange; 
    -fx-font-weight: bold;
}

.header {
    -fx-fill: green;
    -fx-font-weight: bold;
}